services:

  db:
    image: postgres:15-alpine
    container_name: sisreserva-db
    restart: always
    # Here we reference variables defined in the .env file
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${SPRING_DATASOURCE_USERNAME}
      - POSTGRES_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: sisreserva-api
    restart: on-failure

    depends_on:
      - db

    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

    env_file:
      - .env

volumes:
  postgres_data: